.workimg{
    position:absolute;
    margin-top:4rem;
    right:12rem;
}
#work{
    /* margin-right:4rem;
    margin-left:4rem; */
    background-color:#FCF8E8;
}
#work .heading2{
    color:var(--primary);
    font-family:'Heebo';
    font-weight:800;
    margin-top:2rem;
    /* margin-left:8rem; */
    text-decoration:underline;
    letter-spacing:0.2rem;
}
#work .container{
    gap:2rem;
    margin-right:8rem;
    margin-left:8rem;
    margin-bottom:2rem;
    flex-wrap:wrap;

}
#work .container .project{
    margin-top:4rem;
    margin-left:4rem;
    flex:25%;
    flex-direction: column;
    animation: a1 3s infinite ease-in-out;
    font-family: 'Heebo';
}

.project-img img{
    height:200px;
    width:300px;
    /* border-radius:2rem; */
}

.project .title{
    font-size:1.2rem;
}
.project .desc{
    font-weight:200;
    margin-bottom:0.2rem;
}
.project a{
    text-decoration: none;
    color:black;
    transition:0.3s all ease;
}
.project a:hover{
    color:var(--primary);
    font-size:1.2rem;
}

@media screen and (max-width:1157px){
    #work{
        display:flex;
    }
    #work .container .project{
        margin-left:0;
    }
    #work .heading2{
        margin:0;
        margin-top:4rem;
    }
}