.workimg{
    position:absolute;
    margin-top:4rem;
    right:12rem;
}

#work .heading2{
    color:var(--primary);
    font-family:'Heebo';
    font-weight:800;
    margin-top:2rem;
    /* margin-left:8rem; */
    text-decoration:underline;
    letter-spacing:0.2rem;
}
#work .container{
    /* gap:2rem; */
    flex-wrap:wrap;
}
#work .container .project{
    margin-top:4rem;
    margin-left:4rem;
    flex:25%;
    flex-direction: column;

}
@media screen and (max-width:1157px){
    #work{
        display:flex;
    }
    #work .container .project{
        margin-left:0;
    }
    #work .heading2{
        margin:0;
        margin-top:4rem;
    }
}